._dash-undo-redo {
    display: none;
}

h1, h4 {
    text-align: center;
    color: #111111;
    margin-bottom: 1.5em;
}

pre {
    border: thin lightgrey solid;
    overflowX: scroll;
    }

#placeholder_for_outputs{
    display: none;
}